@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-25xl: 44px;
  --font-size-16xl: 35px;
  --font-size-7xl: 26px;
  --font-size-19xl: 38px;
  --font-size-11xl: 30px;
  --font-size-4xl: 23px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #222;
  --color-gray-200: rgba(255, 255, 255, 0.7);
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-darkslategray: #323334;
  --color-silver: #c4c4c4;
  --color-gainsboro-100: #e4e3e1;
  --color-gainsboro-200: #dce1da;
  --color-darkgray: rgba(170, 170, 172, 0.6);
  --color-darkgreen: #156008;
  --color-steelblue-100: #0a7091;
  --color-steelblue-200: #0a5d8b;
  --color-indigo: #4f0e8b;
  --color-chocolate: #ad5b12;
  --color-maroon: #770505;
  --color-red-100: #fe1313;
  --color-red-200: #f81111;
  --color-red-300: #df1313;
  --color-dodgerblue: #2f80ed;
  --color-seagreen: #219653;
  --color-mediumaquamarine: #6fcf97;
  --color-skyblue: #56ccf2;
  --color-mediumorchid: #bb6bd9;
  --color-indianred: #eb5757;
  --color-sandybrown: #f2994a;
  --color-goldenrod: #f2c94c;

  /* Gaps */
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-3xs-5: 9.5px;
  --gap-15xl: 34px;
  --gap-22xl: 41px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-62xl: 81px;
  --gap-21xl: 40px;
  --gap-55xl: 74px;
  --gap-sm: 14px;
  --gap-lgi: 19px;
  --gap-114xl: 133px;
  --gap-47xl: 66px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-smi: 13px;
  --gap-23xl: 42px;
  --gap-smi-3: 12.3px;
  --gap-xs: 12px;
  --gap-30xl: 49px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-18xl: 37px;
  --gap-lg: 18px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-lg: 18px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-31xl: 50px;
  --padding-149xl: 168px;
  --padding-52xl: 71px;
  --padding-53xl: 72px;
  --padding-17xl: 36px;
  --padding-65xl: 84px;
  --padding-27xl: 46px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;
  --padding-12xs: 1px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-51xl: 70px;
  --padding-26xl: 45px;
  --padding-10xs: 3px;
  --padding-4xs: 9px;
  --padding-6xl: 25px;
  --padding-14xl: 33px;
  --padding-6xs: 7px;
  --padding-25xl: 44px;
  --padding-4xl: 23px;
  --padding-11xl: 30px;
  --padding-7xl: 26px;
  --padding-81xl: 100px;
  --padding-lgi: 19px;

  /* Border radiuses */
  --br-8xs: 5px;
}
